body{
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    background: black;
    position: relative;
}

.text-wrapper{
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    min-width: 80%;
    /* text-align: center; */
}

a{
    color: bisque;
    text-decoration: none;
    font-size: 1.5rem;
}

/* h1{
    color: white;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
} */

canvas {
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
        
}